* {
    /* Свойства для сброса начальных стилей элементов */
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    color: #303030;
}

header {
    /* Стили для хедера */
    background-color: #2965f1;
    padding: 23px 0;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

header.span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
}

.main-section {
    /* Стили для первой секции */
    background-color: #FAFAFF;
    padding: 60px 0;
    min-height: 100vh;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #FFFFFF;
    padding: 100px 0;

}

select {
    /* Стили для выпадающего списка */
    width: 150px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    list-style-image: url(./images/ep_arrow-down.svg);
    padding: 8px;
    background-repeat: no-repeat;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    list-style-image: url(./images/solar_map-arrow-up-bold.svg);
    padding: 0px 20px;
    font-weight: 400;
    font-size: 16px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    font-weight: 400;
    font-size: 16px;
    padding: 0px 20px;
}

.label {
    /* Стили для подписей чекбоксов */
    font-weight: 400;
    font-size: 16px;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    width: 464px;
    height: 36px;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    font-weight: 400;
    font-size: 16px;
}

.btn {
    /* Стили для кнопки */
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    border: none;
}

.line {
    /* Стили для линии */
    margin-top: 60px;
    margin-bottom: 60px;
}

table {
    /* Стили для таблицы */
    border-collapse: collapse;
    border: 1px solid #95a1bb;
    width: 113px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: 12px 15px;
}

footer {
    /* Стили для футера */
    background-color: #A3A7FF;
    padding: 26px 0px;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
    /* Стили для футера */
}